body {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fefefe;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

.row {
  /* display: block; */
  background: transparent;
  text-align: center;
  vertical-align: top;
  margin: 0;
  margin-bottom: .2rem;
  padding: 0;
}

.place {
  display: inline-block;
  vertical-align: top;

  height: 5rem;
  width: 5rem;
  border: 1px solid #222222;
  margin: 0;
  padding: 0;

  box-shadow: .1em .2em .5em #aaaaaa;
}

.place .piece {
  vertical-align: 50%;
  display: inline;
  margin: 0;
  font-size: 36px;
}

.ui#ui {
  text-align: center;
  margin-top: 2rem;
}